{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/qunit/1.14.0/qunit.min.js"></script>
    <script src="{{ url_for('static', filename='js/player_test.js') }}"></script>
{% endblock %}
{%- block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qunit.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/mysite.css') }}"/>
{%- endblock styles %}

{% block navbar %}
{% endblock %}
{% block content %}
    <div id="qunit"></div>
    <div id="qunit-fixture">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="hidden videoId">hHUbLv4ThOo</div>
            <div class="caption uniform_height">
                <a class="thumbnail" onclick="openNewUrl('2')">
                    <img src="https://i.ytimg.com/vi/hHUbLv4ThOo/mqdefault.jpg" alt="Timber         Pitbull Featuring Keha"/>
                </a>
                <h5>Pitbull - Timber ft. Ke$ha</h5>
            </div>
        </div>



        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="hidden videoId">Y8ygKnBtKAk</div>
            <div class="caption uniform_height">
                <a class="thumbnail" onclick="openNewUrl('3')">
                    <img src="https://i.ytimg.com/vi/Y8ygKnBtKAk/mqdefault.jpg" alt="Not A Bad Thing         Justin Timberlake"/>
                </a>
                <h5>Justin Timberlake - Not a Bad Thing (Audio)</h5>
            </div>
        </div>



        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="hidden videoId">xKkb13IU_DE</div>
            <div class="caption uniform_height">
                <a class="thumbnail" onclick="openNewUrl('4')">
                    <img src="https://i.ytimg.com/vi/xKkb13IU_DE/mqdefault.jpg" alt="Show Me         Kid Ink Featuring Chris Brown"/>
                </a>
                <h5>Kid Ink feat. Chris Brown - Show Me (Explicit)</h5>
            </div>
        </div>
        <ul>
            <li class="previous"><a id="previous" href="#">&larr; prev</a></li>
            <li class="next"><a id="next" href="#">next &rarr;</a></li>
        </ul>
    </div>
{% endblock %}