{% extends "base.html" %}
{% block title %}Youtube playlist creator{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
{% endblock %}
{%- block styles %}
    {{ super() }}
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/mysite.css') }}"/>
{%- endblock styles %}


{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <ul class="pager">
            <li class="previous"><a id="previous" href="#">&larr; prev</a></li>
            <li class="next"><a id="next" href="#">next &rarr;</a></li>
        </ul>
        <div class="row">
            <div id="player"></div>
        </div>
        <div class="row">
            {% for video in videos %}
                {{ macros.thumbnail_for_video(video, loop.index0) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}